{% extends 'main/base.html' %}

{% block content %}
      <main class="main">
        <!-- Хлебные крошки -->
        <div class="head-wrapper">
          <section class="head">
            <div class="container">
              <nav class="breadcrumbs">
                <ul class="breadcrumbs__items">
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{% url 'home' %}">Главная</a>
                  </li>
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{% url 'contacts' %}"
                      >Контакты</a
                    >
                  </li>
                </ul>
              </nav>
              <h1 class="head__title h1">{{header_h1.header_h1}}</h1>
            </div>
          </section>
        </div>

        <!-- Контакты -->
        <section class="contacts">
          <div class="container">
            <div class="city__wrapper">
              {% for c in city %}
              <!-- Москва -->
              <div class="city__item">
                <!-- Контент -->
                <div class="city__content moscow">
                  <div class="moscow__city">
                    <div class="moscow__name">
                      <p class="moscow__subtitle">{{c.office}}</p>
                      <h2 class="moscow__title">{{c.city_name}}</h2>
                    </div>
                    <img class="moscow__image" src="{{c.emblem.url}}" alt="Герб города"/>
                  </div>
                  <!-- Выездной специалист -->
                  <div class="personal">
                    <div class="personal__moscow">
                      <img
                        class="pesonal__photo"
                        src="{{c.manager_photo.url}}"
                        alt="Фото сотрудника"
                      />
                      <div class="personal__item">
                        <p class="moscow__subtitle">{{c.manager_post}}</p>
                        <p class="personal__name">{{c.manager_name}}</p>
                      </div>
                    </div>

                    <!-- Кнопки соцсетей -->
                    <div class="personal__link">
                      <a class="personal__call" href="{{c.manager_phone}}">
                        <span class="personal__icon"></span>
                        <span>Позвонить</span>
                      </a>
                      <a
                        class="personal__whatsapp"
                        href="{{c.manager_whatsapp}}"
                      ></a>
                      <a
                        class="personal__telegram"
                        href="{{c.manager_telegram}}"
                      ></a>
                    </div>
                  </div>
                  <p class="moscow__subtitle">Телефон</p>
                  <p class="moscow__phone">{{c.phone}}</p>
                  <p class="moscow__subtitle">E-mail</p>
                  <p class="moscow__email">{{c.mail}}</p>
                  <p class="moscow__subtitle">Режим работы</p>
                  <p class="moscow__work">{{c.work_time}}</p>
                  <p class="moscow__subtitle">
                    Адрес пункта приема катализаторов
                  </p>
                  <address class="moscow__address">
                    {{c.address}}
                  </address>
                </div>
                <!-- Карта -->
                <div class="city__map">
                  <iframe
                    src="{{c.map}}"
                    width="100%"
                    height="100%"
                    frameborder="0"
                  ></iframe>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </main>
{% endblock content %}