{% extends 'main/base.html' %}


{% block content %}
<main class="main">
        {% for h in home %}
        <!-- Первый экран и принимаемые материалы-->
        <section class="first">
          <div class="container">
            <!-- Первый экран -->
            <div class="screen">
              <div class="screen__item wrap">
                <div class="screen__title">
                  <div class="screen__h1">
                    <span>ПРИЕМ </span><span>КАТАЛИЗАТОРОВ </span
                    ><span>ДОРОГО </span><span>В АНТИПАЮТЕ</span>
                  </div>
                </div>
                <div class="screen__content">
                  <p class="screen__text">от 2 700 до 138 000 ₽ за 1 кг</p>
                  <p class="screen__text">на переработку</p>
                  <p class="screen__text">без посредников</p>
                </div>
                <button class="screen__btn js-open-modal" data-modal="1">
                  Узнать стоимость катализатора
                </button>
              </div>
            </div>

            <!-- Принимаемые материалы -->
            <div class="materials">
              <h2 class="gallery__title h2">{{h.material_h2}}</h2>
              <!-- Общая обертка для всех материалов-->
              <ul class="materials__items">
                <!-- Индивидуальная обертка материала -->
                {% for m in material %}
                <li class="materials__item material {{m.material_css}}">
                  <div class="material__content">
                    <h2 class="material__title">{{m.material_title}}</h2>
                    <p class="material__price">{{m.material_price}}</p>
                    <p class="material__subtitle">{{m.material_text}}</p>
                  </div>
                  <button class="material__btn js-open-modal" data-modal="1">
                    Сдать
                  </button>
                </li>
                {%endfor%}
              </ul>
            </div>
          </div>
        </section>

        <!-- Гарантии -->
        <div class="warranty">
          <section class="guarantees">
            <div class="container">
              <h2 class="guarantees__title h2">{{h.guarantees_h2}}</h2>
              <ul class="guarantees__items">
                {% for g in guarantees %}
                <li class="guarantees__item {{g.guarantees_css}}">
                  <h2 class="guarantess__title">{{g.guarantees_title}}</h2>
                  <p class="guarantess__text">{{g.guarantees_text}}</p>
                </li>
                {%endfor%}
              </ul>
            </div>
          </section>
        </div>

        <!-- О компании -->
        <section class="about">
          <div class="container">
            <h2 class="about__title h2">{{ h.about_h2 }}</h2>
            <div class="about__content">
              <p class="about__text text"><img src="{{h.about_image.url}}" alt="" class="about__img" />{{h.about_text}}</p>
            </div>
          </div>
        </section>

        <!-- Галерея -->
        <section class="gallery-wrap">
          <div class="container">
            <h2 class="gallery__title h2">Галерея</h2>
            <ul id="gallery" class="gallery">
              <li class="slide slide-1">
                <img class="gallery__img" src="{{h.gallery_image_1.url}}" alt="" />
              </li>
              <li class="slide slide-2">
                <img class="gallery__img" src="{{h.gallery_image_2.url}}" alt="" />
              </li>
              <li class="slide slide-3">
                <img class="gallery__img" src="{{h.gallery_image_3.url}}" alt="" />
              </li>
              <li class="slide slide-4">
                <img class="gallery__img" src="{{h.gallery_image_4.url}}" alt="" />
              </li>
              <li class="slide slide-5">
                <img class="gallery__img" src="{{h.gallery_image_5.url}}" alt="" />
              </li>
              <li class="slide slide-6">
                <img class="gallery__img" src="{{h.gallery_image_6.url}}" alt="" />
              </li>
              <li class="slide slide-7">
                <img class="gallery__img" src="{{h.gallery_image_7.url}}" alt="" />
              </li>
              <li class="slide slide-8">
                <img class="gallery__img" src="{{h.gallery_image_8.url}}" alt="" />
              </li>
            </ul>
          </div>
        </section>

        <!-- Отзывы -->
        <div class="reviews-wrap">
          <section class="reviews">
            <div class="container">
              <h2 class="reviews__h2 h2">Отзывы AUTOKAT GROUP</h2>
              <div class="reviews__sites">
                <div class="reviews__site wrap">
                  <span class="reviews__title yandex">Яндекс</span>
                  <span class="reviews__rating">4.9</span>
                  <a class="reviews__link" rel="nofollow" href="https://yandex.ru">Оставить отзыв</a>
                </div>
                <div class="reviews__site wrap">
                  <span class="reviews__title avito">Авито</span>
                  <span class="reviews__rating">5.0</span>
                  <a class="reviews__link" rel="nofollow" href="https://avito.ru">Оставить отзыв</a>
                </div>
              </div>
              <ul class="reviews__items">
                {% for r in reviews %}
                <li class="reviews__item review wrap">
                  <div class="review__head">
                    <div class="review__photo">
                      <img src="{{r.review_image.url}}" alt="" />
                    </div>
                    <div class="review__names">
                      <div class="review__star"></div>
                      <p class="review__name">{{r.review_name}}</p>
                      <p class="review__date">{{r.review_date}}</p>
                    </div>
                  </div>
                  <p class="review__text">{{r.review_text}}</p>
                  <a class="review__link" rel="nofollow" href="{{r.review_link}}">Читать отзыв</a>
                </li>
                {%endfor%}
              </ul>
            </div>
          </section>
        </div>

        <!-- Как мы работаем -->
        <section class="work">
          <div class="container">
            <h2 class="work__h2 h2">Процесс сдачи катализатора</h2>
            <ul class="work__items wrap">
              {%for p in process%}
              <li class="work__item">
                <div class="{{p.process_css}}"></div>
                <div class="work__content">
                  <div class="work__name">
                    <h3 class="work__title">{{p.process_title}}</h3>
                    <span>{{p.process_step}}</span>
                  </div>
                  <p class="work__text">{{p.process_text}}</p>
                </div>
              </li>
              {%endfor%}
            </ul>
          </div>
        </section>

        <!-- Преимущества -->
        <div class="advantages">
          <section class="advantages__wrap">
            <div class="container">
              <h2 class="advantages__title h2">Преимущества</h2>
              <ul class="advantages__items">
                <li class="advantages__item advantages__1">
                  <h4 class="advantages__name">{{h.advantages_title_1}}</h4>
                  <p class="advantages__text">
                    {{h.advantages_text_1}}
                  </p>
                </li>
                <li class="advantages__item advantages__2">
                  <h4 class="advantages__name">{{h.advantages_title_2}}</h4>
                  <p class="advantages__text">
                    {{h.advantages_text_2}}
                  </p>
                </li>
                <li class="advantages__item advantages__3">
                  <h4 class="advantages__name">{{h.advantages_title_3}}</h4>
                  <p class="advantages__text">
                    {{h.advantages_text_3}}
                  </p>
                </li>
                <li class="advantages__item advantages__4">
                  <h4 class="advantages__name">{{h.advantages_title_4}}</h4>
                  <p class="advantages__text">
                    {{h.advantages_text_4}}
                  </p>
                </li>
              </ul>
            </div>
          </section>
        </div>

        <!-- Катализаторы по маркам авто -->
        <section class="tiles">
          <div class="container">
            <h2 class="tiles__title h2">Катализаторы по маркам авто</h2>
            <ul class="tiles__items">
              {%for l in list_catalysts%}
              <li class="tiles__item">
                <a class="tiles__link" href="{{l.list_link}}">
                  <img
                    class="tiles__img"
                    src="{{l.list_image.url}}"
                    alt="{{l.list_alt_image}}"
                  />
                  <div class="tiles__content">
                    <p class="tiles__name">{{l.list_brand}}</p>
                    <p class="tiles__price">{{l.list_price}}</p>
                  </div>
                </a>
              </li>
              {%endfor%}
            </ul>
          </div>
        </section>

        <!-- Новости -->
        <section class="news-main">
          <div class="container">
            <div class="news-main__top">
              <h2 class="news-main__title h2">Блог</h2>
              <a class="news-main__link" href="{% url 'blog' %}">все статьи</a>
            </div>

            <div class="news__listing">
              <ul class="news-main__item">
                <li class="news__item news__item--border">
                  <div class="news__top">
                    <img class="news__image" src="img/cat.jpg" alt="" />
                    <a class="news__link" href="news1.html">
                      <p class="news__title">
                        Как выбрать компанию куда сдать катализатор?
                      </p>
                    </a>
                  </div>
                  <div class="news__bottom">
                    <span class="news__date">25.12.2023</span>
                    <span class="news__views">1254</span>
                  </div>
                </li>

                <li class="news__item news__item--border">
                  <div class="news__top">
                    <img class="news__image" src="img/cat.jpg" alt="" />
                    <a class="news__link" href="news1.html">
                      <p class="news__title">
                        Как выбрать компанию куда сдать катализатор?
                      </p>
                    </a>
                  </div>
                  <div class="news__bottom">
                    <span class="news__date">25.12.2023</span>
                    <span class="news__views">1254</span>
                  </div>
                </li>
                <li class="news__item news__item--border">
                  <div class="news__top">
                    <img class="news__image" src="img/cat.jpg" alt="" />
                    <a class="news__link" href="news1.html">
                      <p class="news__title">
                        Как выбрать компанию куда сдать катализатор?
                      </p>
                    </a>
                  </div>
                  <div class="news__bottom">
                    <span class="news__date">25.12.2023</span>
                    <span class="news__views">1254</span>
                  </div>
                </li>
                <li class="news__item news__item--border">
                  <div class="news__top">
                    <img class="news__image" src="img/cat.jpg" alt="" />
                    <a class="news__link" href="news1.html">
                      <p class="news__title">
                        Как выбрать компанию куда сдать катализатор?
                      </p>
                    </a>
                  </div>
                  <div class="news__bottom">
                    <span class="news__date">25.12.2023</span>
                    <span class="news__views">1254</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- Вопрос - ответ -->
        <div class="faq-wrap">
          <section class="faq">
            <div class="container">
              <h2 class="faq__title h2">Ответы на частые вопросы</h2>
              <ul class="faq__items wrap">
                {% for f in faq %}
                <li class="faq__item">
                  <div class="faq__question">
                    <p class="question">{{f.faq_question}}</p>
                    <span class="faq-icon"></span>
                  </div>
                  <p class="faq__answer">{{f.faq_answer}}</p>
                </li>
                {%endfor%}
              </ul>
            </div>
          </section>
        </div>

        <!-- Seo текст -->
        <section class="seo">
          <div class="container">
            <h2 class="seo__h2 h2">{{h.seo_h2}}</h2>
            <div class="seo__video">
              <iframe
                width="100%"
                height="100%"
                src="{{h.seo_video}}"
                title="YouTube video player"
                frameborder="0"
                fs="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <p class="seo__text text">
              {{h.seo_text}}
            </p>
          </div>
        </section>
        {%endfor%}
      </main>
{% endblock content %}
